<div class="mb-4 flex items-center justify-center">
  <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
    <ng-template #title> {{ cardData().name }} </ng-template>

    <p>{{ cardData().code }}</p>
    <p>{{ cardData().example }}</p>
    <p>{{ cardData().output }}</p>
    @for (item of cardData().bullets; track $index) {
      <p [innerText]="item"></p>
    }

    <ng-template #footer>
      <div class="flex gap-4 mt-1">
        <!-- <p-button
          label="Cancel"
          severity="info"
          class="w-full"
          [outlined]="true"
          styleClass="w-full"
        /> -->
        <p-button label="Save" severity="info" class="w-full" styleClass="w-full" />
      </div>
    </ng-template>
  </p-card>
</div>
