<div class="mb-4 flex items-center justify-center">
  <p-card class="border" [style]="{ width: '25rem', overflow: 'hidden' }">
    <ng-template #title> {{ cardData().name }} </ng-template>

    <div class="row-layout">
      <div class="row-layout border code-block">
        <pre><code>{{ cardData().code }}</code></pre>

        <div class="two-column-layout">
          <p>{{ cardData().example }}</p>
          <p>{{ cardData().output }}</p>
        </div>
      </div>

      @for (item of cardData().bullets; track $index) {
        <p [innerText]="item"></p>
      }
    </div>

    <ng-template #footer>
      <div class="flex gap-4 mt-1">
        <p-button
          label="Read more"
          severity="info"
          class="w-full"
          styleClass="w-full"
          (onClick)="openLink(cardData().link)"
        />
      </div>
    </ng-template>
  </p-card>
</div>
