<div class="flex flex-wrap gap-4 justify-center">
  <p-card
    class="border overflow-hidden flex-1"
    [style]="{
      flex: '1 1 300px',
      'max-width': 'calc(50% - 0.5rem)',
      'min-width': 'min(300px, 100%)',
    }"
  >
    <ng-template #title> {{ cardData().name }} </ng-template>

    <div class="row-layout">
      <div class="row-layout border code-block">
        <pre><code>{{ cardData().code }}</code></pre>

        <div class="flex-container">
          <p>{{ cardData().example }}</p>
          <p>{{ cardData().output }}</p>
        </div>
      </div>

      @for (item of cardData().bullets; track $index) {
        <p [innerText]="item"></p>
      }
    </div>

    <ng-template #footer>
      <div class="flex gap-4 mt-1">
        <p-button
          label="Read more"
          severity="info"
          class="w-full"
          styleClass="w-full"
          (onClick)="openLink(cardData().link)"
        />
      </div>
    </ng-template>
  </p-card>
</div>
