<div class="container">
  <h2>Learn</h2>

  <p>Select a language:</p>
  <app-button [options]="languageOptions()" (selectedButton)="onSelectLanguage($event)" />

  @if (selectedLanguage() && selectedLanguage() !== 'TypeScript') {
    <p>Select a framework:</p>
    <app-button [options]="frameworkOptions()" (selectedButton)="onSelectFramework($event)" />
  }

  @if (selectedFramework() || selectedLanguage() === 'TypeScript') {
    <app-dropdown [options]="categoryOptions" (selectedOption)="onSelectedCategory($event)" />
  }

  @if (selectedCategory()) {
    <app-dropdown
      [options]="subCategoryOptions()"
      (selectedOption)="onSelectedSubCategory($event)"
    />
  }

  @if (selectedSubCategory()) {
    <app-card [cardTitle]="cardTitle()" [cardSubtitle]="cardSubTitle()" [cardBody]="cardBody()" />
  }
</div>
