<div class="row-layout">
  <h2>Learn</h2>

  <p>Select a language:</p>
  <app-button [options]="languageOptions()" (selectedButton)="onSelectLanguage($event)" />

  <!-- @if (selectedLanguage()) {
    <p>Select a framework:</p>
    <app-button [options]="frameworkOptions()" (selectedButton)="onSelectFramework($event)" />
  } -->

  <div class="flex-container">
    <div class="flex-item">
      @if (selectedLanguage()) {
        <app-dropdown
          [options]="topicOptions"
          [placeholder]="'Select a category:'"
          (selectedOption)="onSelectTopic($event)"
        />
      }
    </div>

    <div class="flex-item">
      @if (selectedTopic()) {
        <app-dropdown
          [options]="subTopicOptions()"
          [placeholder]="'Select a sub-category:'"
          (selectedOption)="onSelectSubTopic($event)"
        />
      }
    </div>

    <div class="flex-item">
      @if (selectedSubTopic()) {
        <app-dropdown
          [options]="itemOptions()"
          [placeholder]="'Select an item:'"
          (selectedOption)="onSelectItem($event)"
        />
      }
    </div>
  </div>

  <div class="flex-container">
    @if (selectedItem()) {
      <app-card class="flex-item" [cardData]="cardData()" />
    }
  </div>
</div>
